* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #4e73df, #69d4ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgb(224, 184, 98);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}


button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2e59d9;
}
